<div class="container-fluid">
  <div class="row col-md-offset-4 col-md-8">
    <h2><%=current_user.name%>'s National Park Trips</h2>
  </div>

  <div class="row home-pics">
    <% @trips.each do |trip| %>
      <div class="col-md-3 text-center">
        <%= link_to park_trip_path(trip.park_id, trip), class: "wrapper" do %>
          <span class="text"><%= trip.park.name %></span>
          <%=image_tag(trip.park.main_image, class: "img-circle", width:"300", height:"300")%>
        <% end %>
        <p><%= trip.start_formatted_sm %> - <%= trip.end_formatted_sm %></p>
      </div>
    <% end %>
  </div>
</div>
