<h1 id="park-name"><%= @trip.park.name %> National Park<h1>
<h4><%= @trip.start_formatted %> through <%= @trip.end_formatted %></h4>
<p>Notes: <%= @trip.notes %></p>
<br>
<div class="row" id="park-directions">
  <div id="directions-canvas" style="height:400px" class="col-md-4"></div>
  <div id="directionsPanel" style="height:400px" class="col-md-4"></div>
</div>

<% if @park_links["RECDATA"].count > 0 %>
  <% @park_links["RECDATA"].each do |link| %>
    <%= link_to link["Title"], link["URL"], :target => "_blank" %><br>
  <% end %>
<% end %>

<% @weather["forecast"]["txt_forecast"]["forecastday"].each do |weather| %>
  <%= weather["title"] %><br>
  <%= weather["fcttext"] %><br>
  <%= image_tag(weather["icon_url"]) %><br><br>
<% end %>
