<h1 id="park-name"><%= @trip.park.name %> National Park<h1>
<h4><%= @trip.start_formatted %> through <%= @trip.end_formatted %></h4>
<% unless @trip.notes == "" %>
  <p>Notes: <%= @trip.notes %></p>
<% end %>
<br>
<div class="row" id="park-directions">
  <div id="directions-canvas" style="height:400px" class="col-md-4"></div>
  <div id="directionsPanel" style="height:400px" class="col-md-4"></div>
</div>

<% if @park_links["RECDATA"].count > 0 %>
  <% @park_links["RECDATA"].each do |link| %>
    <%= link_to link["Title"], link["URL"], :target => "_blank" %><br>
  <% end %>
<% end %>

<%= link_to "Check Campsite Availability on Hipcamp", "https://www.hipcamp.com/discover#lat=#{@park.latitude}&lng=#{@park.longitude}", :target => "_blank" %>
<br>
<% @weather["forecast"]["txt_forecast"]["forecastday"].each do |weather| %>
  <%= weather["title"] %><br>
  <%= weather["fcttext"] %><br>
  <%= image_tag(weather["icon_url"]) %><br><br>
<% end %>
<br>
<% @trip.park_photos.each do |photo| %>
  <%= image_tag photo.thumb.url %>
<% end %>
